<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363287943750-kkva2683voe2ncgj8dv7jcc6dgg694dr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363287943750-kkva2683voe2ncgj8dv7jcc6dgg694dr</string>
	<key>API_KEY</key>
	<string>AIzaSyASQeMKePZszbbaery3jM_tcCG-QX5XyZA</string>
	<key>GCM_SENDER_ID</key>
	<string>363287943750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>cathaypass</string>
	<key>STORAGE_BUCKET</key>
	<string>cathaypass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363287943750:ios:e26b7f9931b59a27f3c847</string>
</dict>
</plist>